{% load static %}
<aside class="bg-secondary" min-width="320px">
    <div class="d-none d-lg-block" style="padding:10px;">
        <img src="{% static 'img/banner-viso-1.jpg' %}" alt="" width="300" class="d-inline-block align-text-top">
    </div>
    <div class="d-block d-lg-none w-100 text-center" style="padding:10px;">
        <img src="{% static 'img/banner-viso-2.jpg' %}" alt="" width="300" class="d-inline-block align-text-top">
        <img src="{% static 'img/banner-viso-2.jpg' %}" alt="" width="300" class="d-none d-md-inline-block align-text-top">
    </div>
</aside> 