{% extends 'base.html' %}
{% load static %}

{% block subtitulo %}{% endblock subtitulo %}
{% block titulo %}Aplicação{% endblock titulo %}

{% block estilo %}

{% endblock estilo %}

{% block corpo %}

{% include 'cabecalho.html' %}

<main class="flex-fill d-flex flex-wrap">
    <section class="col-12 p-4 bg-black bg-opacity-75">
        <h2>Home</h2>
        <h2>{{ username }}</h2>
        <h2>{{ password }}</h2>
    </section>
</main>

{% endblock corpo %}

{% block instrucao %}

{% endblock instrucao %}