
<div class="d-inline-flex">
    <div class="pe-3 pb-3">
        <label for="qtd_itens_pag" class="col-form-label">Qtd. itens pág.:</label>
    </div>
    <div class="pe-3 pb-3">
        <input class="form-control" placeholder="Qtd. itens pag..." type="text" name="qtd_itens_pagina" value="{% if qtd_itens_pagina %}{{qtd_itens_pagina}}{% endif %}">
    </div>
</div>
<div class="d-inline-flex">
    <div class="pe-3 pb-3">
        <label for="ir_para" class="col-form-label">Ir para pág.:</label>
    </div>
    <div class="pb-3">
        <input class="form-control" placeholder="Ir para..." type="text" name="ir_para_pagina">
    </div>
</div>