{% extends 'base.html' %}
{% load static %}

{% block subtitulo %}{% endblock subtitulo %}
{% block titulo %}Aplicação{% endblock titulo %}

{% block estilo %}

{% endblock estilo %}

{% block corpo %}

{% include 'cabecalho.html' %}

<main class="flex-fill d-flex flex-wrap">
    <section class="col-12 p-4 bg-black bg-opacity-75">
        <img src="{% static 'img/loading.png' %}" alt="" width="50" class="d-inline-block align-text-top">
    </section>
</main>

{% endblock corpo %}

{% block instrucao %}

{% endblock instrucao %}